/*  your css code here. If applicable */
#yellow{
	background-color:yellow;
	border-width:1px;
	
	border:solid green
}
/*  your css code here. If applicable */
#red{
	border:solid black;
	background-color:red;
	border-width:1px;
	
}
/*  your css code here. If applicable */
#green{
	border:solid yellow;
	background-color:green;
	border-width:1px;
	
}
